* {
    cursor: url('https://starblast.data.neuronality.com/cursor/sbcursor32.png') 0 0, auto !important;
}

:root {
    --background-shading: 100%;
    --background-overlay: rgba(0, 0, 0, 0.6);
    --background-image: url(https://starblast.io/static/img/bg.webp);
    --background-position: center;
    --background-size: cover;
    --background-repeat: no-repeat;
    --background-attachment: fixed;
    --background-brightness: 100%;
    --background-contrast: 100%;
    --background-saturation: 100%;
    --background-invert: 0%;
    --background-grayscale: 0%;
    --background-sepia: 0%;
    --background-blur: 0px;
    --backdrop-image: var(--background-image);
    --user-popout-image: var(--background-image);
    --user-modal-image: var(--background-image);
}

.bg-1QIAus {
    background: var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
    filter: grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur));
    z-index: -9999
}

.content-3spvdd:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
    filter: grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur))
}

.theme-dark .directoryContainer-z-0pgp:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background: var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
    filter: grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur))
}

.header-JUTO-g:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
    filter: grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur))
}